SPRING_CLOUD_CONFIG_COMPONENT_URI=http://config-server:8888
NODE_ENV=local

# Eureka
EUREKA_CLIENT_SERVICE_URL_DEFAULTZONE=http://eureka-server:8761/eureka

# MongoDB (optional, overrides config-server if set)
MONGO_ATLAS_URI=
MONGO_ATLAS_DB_NAME=
